.countryList {
  width: 100%;
  height: 65vh;
  list-style: none;
  /* Beshe overflow-y:scroll ali go smeniv poso mnogu grdo beshe */
  overflow-y: auto;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
}
